#body {
    max-width: 800px;
    text-align: left;
    margin: auto;
    font-family: 'Arial', arial, serif;
}

a, a:visited {
    color: #000099;
    text-decoration: none;
}

    a:hover {
        color: #EE0000;
        text-decoration: none;
    }

#topmenu a, #topmenu a:visited {
    color: #000099;
}

    #topmenu a:hover {
        color: #EE0000;
    }

div.header {
    text-align: center;
}

#header-name {
    font-family: arial, serif;
    font-size: 60px;
}

#header-title {
    font-family: arial, serif;
    margin-top: 10px;
    font-size: 30px;
}

div.menu {
    margin-top: 25px;
    font-size: 20px;
    font-family: arial, serif;
    text-align: center;
}

div.title {
    font-family: arial, serif;
    font-size: 35px;
    margin-top: 40px;
    text-align: center;
}

div.title2 {
    font-family: arial, serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}

div.title3 {
    font-family: arial, serif;
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
}

div.entry {
    border: 2px solid darkblue;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    padding-top: 5px;
}

div.paragraph {
    font-family: arial, serif;
    font-size: 21px;
    text-align: justify;
    text-indent: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

div.copyright {
    font-family: arial, serif;
    font-size: 18px;
}

div.details {
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    font-size: 21px;
    font-family: arial, serif;
    border-top: 2px solid;
}

div.location {
    margin-top: 4px;
    text-align: center;
}

div.date {
    font-size: 18px;
    font-weight: lighter;
}
