#body {
    max-width: 800px;
    text-align: left;
    margin: auto;
    font-family: 'Arial', arial, serif;
}

a, a:visited {
    color: #000099;
    text-decoration: none;
}

    a:hover {
        color: #EE0000;
        text-decoration: none;
    }

#topmenu a, #topmenu a:visited {
    color: #000099;
}

    #topmenu a:hover {
        color: #EE0000;
    }

div.header {
    text-align: center;
}

#header-name {
    font-family: 'Lobster', arial, serif;
    font-size: 60px;
}

#header-title {
    font-family: 'Pacifico', arial, serif;
    margin-top: -10px;
    font-size: 30px;
}

div.menu {
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Allerta Stencil', arial, serif;
    text-align: center;
}

div.title {
    font-family: 'Allerta Stencil', arial, serif;
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

div.title2 {
    font-family: 'Consolas, Monaco', arial, serif;
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
}

div.title3 {
    font-family: 'Allerta Stencil', arial, serif;
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
}

div.paragraph {
    font-family: 'Arial', arial, serif;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 15px;
    margin-top: 15px;
}

div.copyright {
    font-family: "Chewy", arial, serif;
    font-size: 18px;
}


div.details {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
}

div.date {
    margin-bottom: 5px;
}
